:root {
  --bgColor: #eee;
  --fontColor: #333;
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  color-scheme: light dark;
}

body {
  background-color: var(--bgColor);
  color: var(--fontColor);
  min-height: 100vh;
  /* display: grid;
  grid-template-rows: auto 1fr auto; */
  margin: 0;
  padding: 0;
  font-size: larger;
}

.container-body {
  background-color: white;
}

h1 {
  color: #000;
}

.asterisk {
  color: red;
}

.testClass {
  background-color: #c62828;
}

#nav {
  padding: 0;
  color: white;
}

.bg-danger {
  background-color: red !important;
}

.text-warning {
  color: yellow;
}

#img-logo {
  width: 100px;
  height: auto;
}

.container-home {
  margin-top: -3rem;
  width: 100%;
  position: relative;
  text-align: center;
}

.welcome_text {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.side-container {
  margin-top: 5.5rem;
}


input:focus:invalid {
  border: 2px solid red;
}

#test {
  background: #c62828;
}

.testP {
  color: #9f1264;
}

.modal-dialog {
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
}

/* @media (width <=760px) {
  .side-container {
    display: flex;
    gap: 1rem;
  }
} */

@media only screen and (max-width: 926px) {
  .welcome_text {
    font-size: 1em;
  }
}

@media only screen and (max-width: 550px) {
  .welcome_text {
    font-size: .7em;
  }
}

.card-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  max-height: 10vh;

  /* The number of lines to be displayed */
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.card-img-overlay {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.linkUnset {
  text-decoration: none;
  color: unset;

}