<footer class="container-fluid mt-5 pt-5 footer-wrapper">
	<div class="container">
		<hr class="bg-danger border-2 border-top border-dark">
	</div>
	<div class="container d-flex justify-content-around text-center mt-5">
		<a href="/" class="list-group-item-action linkUnset">Home</a>
		<a href="patient.php" class="list-group-item-action linkUnset">Patients</a>
		<a href="view_terminology.php" class="list-group-item-action linkUnset">Medical Terms</a>
		<a href="signout.php" class="list-group-item-action linkUnset">Sign out</a>
	</div>
	<h5 class="text-center mt-5 footer">Health Management System 2022 &copy; Version 1.0.0</h5>
</footer>
