<footer class="container-fluid mt-5 pt-5">
	<div class="container">
		<div class="d-flex justify-content-around text-center">
			<a href="/" class="list-group-item-action">Home</a>
			<a href="/" class="list-group-item-action">Patient</a>
			<a href="/" class="list-group-item-action">Medical Term</a>
			<a href="signout.php" class="list-group-item-action">Sign out</a>
		</div>
		<p class="text-center mt-5">Health Management System 2022 &copy; Version 1.0.0</p>
	</div>
</footer>
